:root{
    --main-font: font-family: 'Roboto', sans-serif;
    --secoundary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196F3; 
    --secoundary-clor:  #757575;
}

body{
    font-family: var(--main-font);
    color: #212121;
}

/* =======MENU====== */
.navigation--logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1,192;
    letter-spacing: 0.03em;
    color: #000000;
}

.navigation--logo-color{
    color: var(--main-color);
}

.navigation--list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1,172;
    letter-spacing: 0.02em;
}
.navigation--list-link:hover,
.navigation--list-link:focus{
    color: var(--main-color)
}

.address{
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1,423;
    letter-spacing: 0.02em;
    color: var(--secoundary-clor)
}
.address--link:hover,
.address--link:focus{
    color: var(--main-color)
}


/* ===END=MENU====== */

/* =======MAIN====== */

/* ===END=MAIN====== */

/* =======FOOTER==== */

/* ===END=FOOTER==== */
